
<div class="hero">
  <br />
  <div class="frosty col-sm-10 offset-1 hidden-xs-down text-center">
    <br />
    <h1 class="hidden-sm-down">Teach a video course and spread your knowlege!</h1>
    <br />
    <h1>Enroll in a course and learn something new.</h1>
    <br />
    <%= link_to 'I want to Learn', courses_path, class: 'btn btn-primary' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p> 
  </div>
</div>