<br />

<div class="col-10 offset-1">
  
  <h1 class="text-center">Learn something today</h1>
  <% @courses.each do |course| %>
    <br class="clr">
    <div class="booyah-box main-bkrnd">
      <h2 class="text-center course-titles">
        <%= link_to course.title, course_path(course) %></h2>
        <div class="col-10 offset-1">
          <%= image_tag course.image, class: 'img-fluid outline-photo' %>
        </div>
      <br />
      <br />
      <div class="row">
        <div class="col-sm-8 col-12 course-descriptions">
          <%= course.description %>
        </div>
        <div class="col-sm-4 col-12 text-center">
          <%= link_to 'More Details...', course_path(course), class: 'btn btn-primary btn-large' %>
        </div>
      </div>
      <br />
    </div>
    <br class="clr">
  <% end %>
  

</div>